/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
   margin: 0 0;
   padding: 0 0;
   border: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

:root {
   --white: #FFFFFF;
   --black: #000000;
   --primary: #008037;
   --secondary: #E9EFF4;
}                       */
.img
{
display: block;
max-width: 100%;
height: auto;
}

.btn{
        -webkit-border-radius: 6;
        -moz-border-radius: 6;
        border-radius: 6px;
        font-family: Arial;
        color: #000000;
        font-size: 20px;
        background: #ffffff;
        padding: 10px 20px 10px 20px;
        border: solid green 10px;
        text-decoration: none;
      }
      
.btn:hover 
{
        background: #45d158;
        text-decoration: none;
}
 
.first-column
{   
    text-align:center;
    background-color:#E9EFF4;
    align-items: center;
    width:50%;
    height:100vh;
    margin-left:auto;
    margin-right:auto;
   
}
.second-column
{
    align-items: center;
    width:50%;
    height:100vh;
}

.hhead
{
    color: black;
    text-align: center;
}

.button1
{
 min-height: 60px;
 min-width: 250px;
}
.sub
{
color:green;
text-align: center;
}

