@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary: #008037;
    --secondary: #E9EFF4;
} 
.navBar {
    background-color: var(--secondary);
    height: 8vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 9fr 0.5fr 0.6fr;
}
.title {
    display: inline-block;
    color: var(--black);
    font-size: 4.1vh;
    font-family: 'Fredoka One', cursive;
    margin-left: 2vw; 
    margin-top: 1.5vh;
    height: 6.45vh;
}

.title:hover{
    cursor: pointer;
}

.line {
    background-color: var(--primary);
    height: 0.45vh;
    width: 100vw;
}
.navButtons {
    display: inline-block;
    margin-top: 1vh;
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    background-color: var(--white);
    border: 0.32vh solid var(--primary);
}

.navButtons:hover {
    scale: 1.08;
    cursor: pointer;
}

.settingsIcon {
    font-size: 3.5vh;
    margin-top: 0.96vh;
    margin-left: 1vh;
}

#logoutIcon {
    margin-left: 1.2vh;
}

.setting {
    margin: 5%;
    padding: 2%;
    border: 1px solid var(--primary);
    width: 50%;
}

.saveButton {
    display: inline-block;
    background-color: var(--secondary);
    color: var(--black);
    border: 0.2vw solid var(--primary);
    border-radius: 5px;
    outline: none;
    padding: 0.6vh 2.5vw;
    font-size: 2.3vh;
    font-weight: 700;
    margin-top: 5vh;
    margin-bottom: 2vh;
    margin-left: 3vw;
}

.saveButton:hover {
    scale: 1.06;
    cursor: pointer;
}

.fieldSet {
    width: 60vw;
    margin: 12vh 5vw;
    padding: 4vh 2vw;
    border: 0.18vw solid var(--black);
}

.legendCaption {
    margin-left: 3vw;
    padding: 0.8vh 3vw;
    background-color: var(--primary);
    color: var(--white);
    font-size: 3.4vh;
    font-weight: 700;
}

.setting-title {
    color: var(--black);
    font-size: 2.5vh;
    font-weight: 700;
    margin-left: 3vw;
    margin-top: 6vh;
}

.smallInput {
    margin-top: 2.5vh;
    margin-left: 3vw;
    padding: 0.9vh 1vw;
    font-size: 2.2vh;
    font-weight: 500;
    width: 12vw;
    background-color: var(--secondary);
    color: var(--black);
    overflow: hidden;
    border: none;
    outline: none;
 }

 .dropDown {
    margin-top: 2.5vh;
    margin-left: 3vw;
    padding: 0vh 1vw;
    font-size: 2.2vh;
    width: 10vw;
    height: 5vh;
    background-color: var(--secondary);
    color: var(--black);
    overflow: hidden;
    border: none;
    border-radius: 0;
    outline: none;
 }
 
 .dropDownItem {
    margin-top: 2.5vh;
    margin-left: 3vw;
    padding: 0vh 1vw;
    font-size: 2.2vh;
    width: 10vw;
    height: 5vh;
    background-color: var(--secondary);
    color: var(--black);
    overflow: hidden;
    border: none;
    outline: none;
    border-radius: 0;
 }

 .radioButtons {
    display: inline-block;
    margin-top: 2.5vh;
    margin-left: 3vw;
    font-size: 2.3vh;
    background-color: var(--white);
    color: var(--black);
    border: none;
    border-radius: 0;
    outline: none;
 }