@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
   margin: 0 0;
   padding: 0 0;
	 border: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

:root {
   --white: #FFFFFF;
   --black: #000000;
   --primary: #008037;
   --secondary: #E9EFF4;
}

.assignmentName {
   caption-side: top;
   text-align: left;
   font-size: 3.7vh;
   font-weight: 700;
   color: var(--black);
   background-color: var(--white);
   margin-bottom: 5vh;
}

.downloadForm {
   display: inline-block;
   width: fit-content;
   margin-left: 0.8vw;
   background-color: var(--white);
}

.downloadButton {
   display: inline-block;
   background-color: var(--white);
   color: var(--primary);
   font-size: 3.5vh;
}

.downloadButton:hover {
   scale: 1.13;
}

table {
   width: 75vw;
   margin: auto;
   margin-top: 12vh;
   background-color: var(--white);
}

table, th, td {
   border: none;
   border-collapse: collapse;
}

form {
   margin-left: 5vw;
}

button {
   cursor: pointer;
}

.submissionsTable {
   position: relative;
}

.tableHeadings {
   background-color: var(--primary);
   color: var(--white);
   font-size: 2.6vh;
   padding: 2.4vh 1.5vw;
   font-weight: 600;
   text-align: center;
   border: none;
   border-collapse: collapse;
   position: sticky;
   top: 0;
}

.tableContent {
   background-color: var(--secondary);
   color: #4a4a4a;
   font-size: 2.25vh;
   padding: 2.2vh 0vw;
   font-weight: 400;
   text-align: center;
   border: none;
   border-collapse: collapse;
}

.tableContent:nth-child(1){
   color: var(--black);
   font-weight: 500;
   font-size: 2.45vh;
}


tr:hover .tableContent {
   background-color: #d8e7f2;
}