<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Submission - AssignExpert</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/2965379893.js" crossorigin="anonymous"></script>
    <script defer src="../../web/javascript/navBar.js"></script>
    <link rel="stylesheet" type="text/css" href="../../web/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="../../web/css/submission.css"/>  
</head>
<body>
    <div class="navBar">
        <div class="title" onclick="gotoHomePage()">AssignExpert</div>
        <div class="navButtons" onclick="gotoSettingPage()"><i class="fa-solid fa-gear settingsIcon"></i></div>
        <div class="navButtons" onclick="logout()"><i class="fa-solid fa-right-from-bracket settingsIcon" id="logoutIcon"></i></div>
     </div>
    <div class="line"></div>
    <div id="submission">
        <div class="submissionTime"><i class="fa-solid fa-calendar-days dateIcon"></i><br><%= submittedAt %></div>
        <div class="score"><%= points %> Points</div>
        <div class="information" style="margin-top: 5vh;"><span style="font-weight: 600;">Assignment: </span><a href="/assignment/<%= assignmentId %>/view">Link</a></div>
        <div class="information"><span style="font-weight: 600;">Status: </span><%= resultStatus %></div>
        <% if (resultMessage !== "") { %>
            <div class="information"><span style="font-weight: 600;">Message: </span><%= resultMessage %></div>
        <% } %>
        <div class="information"><span style="font-weight: 600;">Time Taken: </span><%= timeTaken %>ms</div>
        <div class="information"><span style="font-weight: 600;">Memory Used: </span><%= memoryUsedInKiloBytes %> KB</div>
        <div class="information" style="margin-top: 4vh;"><span style="font-weight: 600;">Code</span> <sup class="language" style="background-color: #008037; color: white;"><%= lang %></sup> <span style="font-weight: 600;">:</span></div>
        <textarea disabled><%= code %></textarea><br>
        <!-- <% if (!markCompleted) { %> -->
            <button id="complete-button" onclick="markCompleted()">Mark Completed</button>
            <p id="completed-result">vffbfbfbf</p>
        <!-- <% } %> -->
    </div>
    <script>
        const userData = JSON.parse(localStorage.getItem("user"));
        if (!userData.isStudent) {
            const completedButton = document.getElementById("complete-button");
            completedButton.style.display = 'none';
        }
        function markCompleted() {
            const submissionId = window.location.pathname.substring('/submission/'.length);
            fetch(`/api/submission/complete`, {
                method: 'PUT',
                headers: {
                    Accept: 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    submissionId
                }),
            }).then((res) => {
                if (res.status === 204) {
                    document.getElementById("completed-result").innerText = "Completed!";
                    return;
                } else {
                    return res.json();
                }
            })
            .then((res) => {
                if (res.message) {
                    document.getElementById("completed-result").innerText = res.message;
                }
            }).catch((err) => {
                console.log(err);
            });
        }
    </script>
</body>
</html>