<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://kit.fontawesome.com/2965379893.js" crossorigin="anonymous"></script>
   <title>Submissions</title>
   <link rel="stylesheet" type="text/css" href="../../web/css/submissions.css" />
   <link rel="stylesheet" type="text/css" href="../../web/css/home.css" />
   <script defer src="../../web/javascript/submissions.js"></script>
   <script defer src="../../web/javascript/navBar.js"></script>
</head>
<body>
   <div class="navBar">
      <div class="title" onclick="gotoHomePage()">AssignExpert</div>
      <div class="navButtons" onclick="gotoSettingPage()"><i class="fa-solid fa-gear settingsIcon"></i></div>
      <div class="navButtons" onclick="logout()"><i class="fa-solid fa-right-from-bracket settingsIcon" id="logoutIcon"></i></div>
   </div>
   <div class="line"></div>
   <table class="submissionsTable">
      <caption class="assignmentName">
         Submissions 
         <form class="downloadForm" action="/api/assignment/<%= assignmentId %>/download" method="get">
            <button class="downloadButton" type="submit"><i class="fa-solid fa-download"></i></button>
         </form>
      </caption>
      <tr>
         <th class="tableHeadings">Student</th>
         <th class="tableHeadings">Status</th>
         <th class="tableHeadings">Score</th>
         <th class="tableHeadings">Time Taken</th>
         <th class="tableHeadings">Memory Used</th>
         <th class="tableHeadings">Submitted At</th>
         <th class="tableHeadings">Link</th>
      </tr>
      <% for (let i = 0; i < submissions.length; ++i) { %>
      <tr class="rowHover">
         <th class="tableContent"><a href="/submission/<%= submissions[i].submissionId %>">view</a></th>
         <th class="tableContent"><%= submissions[i].studentRollNumber %></th>
         <th class="tableContent"><%= submissions[i].resultStatus %></th>
         <th class="tableContent"><%= submissions[i].points %></th>
         <th class="tableContent"><%= submissions[i].timeTaken %>ms</th>
         <th class="tableContent"><%= submissions[i].memoryUsedInKiloBytes %>KB</th>
         <th class="tableContent"><%= submissions[i].submittedAt %></th>
      </tr>
      <% } %>
   </table>
</body>
</html>