<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://kit.fontawesome.com/2965379893.js" crossorigin="anonymous"></script>
   <title>Submissions</title>
   <link rel="stylesheet" type="text/css" href="../../web/css/submissions.css" />
   <link rel="stylesheet" type="text/css" href="../../web/css/home.css" />
   <script defer src="../../web/javascript/submissions.js"></script>
   <script defer src="../../web/javascript/navBar.js"></script>
</head>
<body>
   <div class="navBar">
      <div class="title" onclick="gotoHomePage()">AssignExpert</div>
      <div class="navButtons" onclick="gotoSettingPage()"><i class="fa-solid fa-gear settingsIcon"></i></div>
      <div class="navButtons" onclick="logout()"><i class="fa-solid fa-right-from-bracket settingsIcon" id="logoutIcon"></i></div>
   </div>
   <div class="line"></div>
   <h1 class="assignmentName">Submissions</h1>
   <table>
      <tr>
         <th>Link</th>
         <th>Student</th>
         <th>Status</th>
         <th>Score</th>
         <th>Time Taken</th>
         <th>Memory Used</th>
         <th>Submitted At</th>
      </tr>
      <% for (let i = 0; i < submissions.length; ++i) { %>
      <tr>
         <th><a href="/submission/<%= submissions[i].submissionId %>">view</a></th>
         <th><%= submissions[i].studentRollNumber %></th>
         <th><%= submissions[i].resultStatus %></th>
         <th><%= submissions[i].points %></th>
         <th><%= submissions[i].timeTaken %>ms</th>
         <th><%= submissions[i].memoryUsedInKiloBytes %>KB</th>
         <th><%= submissions[i].submittedAt %></th>
      </tr>
      <% } %>
   </table>
   <form action="/api/assignment/<%= assignmentId %>/download" method="get">
      <button type="submit">Download Results</button>
   </form>
</body>
</html>